@media screen and (max-width: 768px) {
  .right {
    background: #333;
    color: #fff;
  }
  #logo {
    font-size: 1.5rem;
    margin-top: -6px;
  }
  .l-heading {
    width: 100%;
    font-size: 1.5rem;
  }
  .lead {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  #navbar {
    display: none;
  }
  #showcase {
    margin-top: 0px;
    height: 55vh;
    padding-top: 70px;
  }
  #showcase .showcase-content {
    display: block;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
  }
  #user-auth {
    padding-bottom: 70px;
    min-height: 70vh;
  }

  .user-form {
    padding-top: 10px;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 10px;
  }
  .user-form h2 {
    text-align: center;
    font-size: 1.5rem;
  }

  #signin-form input[type="text"],
  #signup-form input[type="text"],
  #signin-form input[type="password"],
  #signup-form input[type="password"],
  #signin-form input[type="email"],
  #signup-form input[type="email"],
  textarea {
    width: 100%;
    padding: 5px;
    margin: 0px auto;
    display: block;
    font-size: 1.2em;
    border-radius: 5px;
  }
  label {
    width: 100%;
    padding: 5px;
    margin: 5px auto;
    margin: 0px auto;
    display: block;
    font-size: 1.2rem;
    font-weight: 800;
  }
  #signin-form input[type="submit"],
  #signup-form input[type="submit"] {
    width: 50%;
    padding: 5px;
    margin: 5px auto;
    margin-left: 0%;
    display: block;
    margin-bottom: 15px;
    font-size: 1.2em;
    border-radius: 8px;
  }

  .user-form p {
    text-align: center;
    font-size: 1rem;
  }
  .user-form p a {
    text-decoration: none;
    color: white;
    font-weight: 1000;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  #entry-form {
    padding-bottom: 70px;
    height: 100%;
    width: 100%;
  }
  .main-entry-data {
    width: 100%;
    margin: 10px auto;
  }
  #edit-entry-title {
    font-size: 1rem;
  }
  form.search {
    margin: 10px auto;
    max-width: 80%;
  }
  .modal-content {
    width: 90%;
  }
  .user-profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .user-profile .user-image,
  .user-info {
    padding-top: 20px;
  }
  .user-profile .user-image img {
    height: 50%;
  }
  .user-profile .user-data {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.8rem;
    font-size: 1.2rem;
    margin-left: 70px;
  }

  .user-settings {
    padding-top: 20px;
    margin-left: 70px;
  }
  #setting input[type="checkbox"] {
    margin-bottom: 1rem;
  }
  #search-container {
    width: 100%;
    margin: 10px;
  }
  #search-container #search-input {
    font-size: 1rem;
    width: 90%;
    margin: 0 5%;
  }
  #search-container #search-btn {
    font-size: 1rem;
    margin-top: 5px;
    padding: 10px;
  }
  #entryContent,
  #preview {
    font-size: 1rem;
    width: 70%;
  }
  .tab {
    width: 70%;
    margin: 10px auto;
  }
  .entries {
    display: grid;
    grid-template-columns: 1fr;
  }
  .entry-content {
    width: 90%;
    margin: 10px auto;
  }
  .entry-item .title {
    font-size: 0.8rem;
  }
  #entry-content-tile {
    max-width: 100%;
    margin: 0 auto;
  }
  .btnn {
    margin-left: 13%;
  }
  #entry-content-tile input {
    width: 65%;
  }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea {
    width: 70%;
  }
  label {
    width: 70%;
  }
  #signin-form input[type="submit"],
  #signup-form input[type="submit"] {
    width: 30%;
    margin-left: 15%;
  }
}
